body {
  margin: 0px;
}
.App {
  text-align: center;
}

.App-header {
  position: relative;
  background-color: rgb(250, 250, 250);
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(5px + 2vmin);
  color: rgb(87, 87, 87);
  border-bottom: 1px solid rgb(218, 218, 218);
  align-items: center;
}

.App-link {
  color: #3e80bd;
  font-weight: 600;
  padding: 1rem;
  text-decoration: none;
}
