:root {
  --buttonBorderHoverColor: rgb(150, 185, 224);
}

.button-shell {
  border-left: 22px solid var(--buttonBorderHoverColor);
  text-align: center;
  margin: 20px;
  color: white;
  background-color: rgb(47, 47, 48);
  display: flex;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  align-self: center;
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  .button-shell {
    min-width: 280px;
  }
}

@media only screen and (min-width: 768px) {
  /* tablets and desktop */
  .button-shell {
    min-width: 460px;
  }
}
