.card {
  overflow: display;
  justify-content: center;
  margin: 0px 40px;
}

.card-shell {
  align-items: center;
  height: 70px;
  max-width: 400px;
  border-radius: 5px;
  display: flex;
  padding: 30px;
  background-color: white;
  border: 1px solid rgb(212, 212, 212);
}
.option {
  width: 50%;
}
.face {
  width: 50px;
  height: 0px;
  position: relative;
  margin: 0 auto;
}
img {
  display: block;
  border-radius: 50%;
  position: absolute;
  background-color: rgb(208, 205, 211);
  bottom: 30px;
  border: 4px solid rgb(191, 240, 252);
}
.footer {
}

h6 {
  text-align: right;
  margin-block-start: 2px;
  font-size: smaller;
}
