.form-row {
  background-color: white;
  border: 1px solid black;
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  .form-row {
    min-width: 300px;
  }
}

@media only screen and (min-width: 768px) {
  /* tablets and desktop */
  .form-row {
    min-width: 480px;
  }
}

input {
  border: none;
  border-bottom: 0.2rem solid;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 600;
  width: 70%;
}

input:focus {
  border-bottom: 0.2rem solid;
  border-color: rgb(150, 185, 224);
}

.optionTwo {
  border-top: 1px solid black;
}

@import url('https://fonts.googleapis.com/css?family=Lato');

body,
html {
  height: 100%;
  /* background: #222222; */
  font-family: 'Lato', sans-serif;
}

.container {
  display: block;
  position: relative;
  margin: 40px auto;
  height: auto;
  /* width: 500px; */
  padding: 20px;
}

h2 {
  color: #aaaaaa;
}

.container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}

ul li input[type='radio'] {
  position: absolute;
  visibility: hidden;
}

ul li label {
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  padding: 2vmin;
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

ul li:hover label {
  color: #ffffff;
  background-color: #222222;
}

ul li .check {
  display: none;
}

ul li .check::before {
  display: none;
}

input[type='radio']:checked ~ .check {
  border: 1px solid #e4e4e4;
  background-color: #222222;
}

input[type='radio']:checked ~ .check::before {
  background: #ffffff;
  background-color: #222222;
}

input[type='radio']:checked ~ label {
  background: #ffffff;
  background-color: #222222;
}
